
#placeContainer {
    width: 393px;
    margin: 0 auto;
}

/* 배너 */
#banner {
    width: 100%;
    height: 125px;
    object-fit: cover;
}
#banner::after {
    content: "banner";
    font-weight: bold;
    display: block;
    transform: translate(270px, -80px);
}

/* 퀵메뉴 */
#quick {
    padding: 20px;
}
#quick p {
    font-size: small;
    margin: 0;
    padding-top: 5px;
}
#quick li {
    margin-left: 13px;
    text-align: center;
}
.qmenu {
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 10%;
}
#quick li:first-child {
    margin-left: 0;
}

/* 관광 리스트 카드 */
#cardContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}
.card-img-top {
    height: 170px;
    object-fit: cover;
}
.card-body {
    overflow: hidden;
    padding: 10px !important;
    position: relative;
}
.star {
    font-size: 9px;
    
}
.title {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
}
.hashtag {
    font-size: 11px;
    margin-bottom: 0;
    position: absolute;
    bottom: 5px;
}
.emptyCard {
    width: 170px;
    height: 270px;
    background-color: white;
}
.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-group {
    margin-left: 0.5rem;
}
.btn {
    padding: 7px !important;
}