/* #reviewForm {
    position: absolute;
    bottom: 0px;
} */
/* 장소 선택 */
.modal-body {
    overflow-y: auto;
}
#selectPlace, #selectedPlaceImg {
    width: 180px;
    height: 180px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}
#selectPlace {
    padding: 0;
    margin-top: 50px;
}
#selectPlaceLbl {
    color: rgba(0, 0, 0, 0.5);
    margin: 15px;
    /* font-weight: bold; */
}

/* 장소 선택 모달 창 */
.modal-content, .modal-dialog {
    position: absolute;
    top: 35px;
    width: 310px;
    height: 580px;
}
.signup-profileImg-label {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}
.form-signup input[type="file"] {
  display: none;
}

/* 별점 평가 */
#starRating {
    margin: 15px;
}

/* 리뷰 등록 버튼 */
.wrap {
    text-align: center;
}
#reviewButton {
    display :inline-block;
    width: 230px;
    height: 40px;
    color: #fff;
    background-color: #F2A96C;
    border-radius: 30px;
    border: none;
    margin: 30px;
}

/* 리뷰 내용 입력 */
#reviewTextBox {
    position: relative;
}
#reviewText {
    display :inline-block;
    margin: 25px;
    padding: 10px;
    width: 340px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000;
}
/* #reviewText::placeholder {
    color: #d9d9d9;
} */
#reviewTextCnts {
    position: absolute;
    bottom: 5px;
    right: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* 이미지 업로드 */
#imageContainer {
    position: relative;
}
#selectImg, .images {
    width: 120px;
    height: 120px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#selectImg, .imageWrap {
    margin-top: 0;
    margin-bottom: 0;
}
#imageSlide {
    height: 138px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 23px;

}
.imageWrap {
    display: inline-block;
    position: relative;
}
.deleteBtn {
    position: absolute;
    top: 5px;
    right: 7px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#imageCnts {
    position: absolute;
    top: -25px;
    left: 35px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.addMent {
    position: absolute;
    bottom: -10px;
    left: 130px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* 모달 검색창 */
/* searchItem */
.modal-body {
    position: relative;
}
#magnifierIcon {
    position: absolute;
    top: 29px;
    left: 32px;
    color: rgba(0, 0, 0, 0.5);
}
.searchItem {
    position: absolute ;
    right: 32px;
}
input[type=radio] {
    opacity: 0;
}
input[type=radio] + div {
    position: relative;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 20px;
    width: 266px;
    height: 80px;
    font-size: 14px;
    margin: 10px;
}
input[type=radio]:checked + div {
    border-color: #F2A96C;
}
.searchInfo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 90px;
    height: 42px;
}
.searchImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px;
}
.searchTitle {
    text-align: left;
}
.searchStar {
    text-align: left;
}


/* #placeTabWrap {
    position: relative;
}
.placeInfo {
    position: absolute;
    top: 25px;
    display: inline-block;
}
#thumb {
    width: 60px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 20px;
}
#starRating {
    margin: 10px;
} */